{% extends "./template/layout.html.twig" %}
{% block body %}
<div class = 'mt-4 bg-light'>
    <div id="caja" class="shadow p-3 mb-5 bg-body rounded bg-light">
        <h1>Prueba 1</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Detalle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div class="row bg-light mt-3">
            <form Action="http://127.0.0.1:3000/prueba/insert" method = "post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="text" name="nombre" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" name="apellido" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-success">Guardar</button>
                </div>
            </form>
        </div>
    <div>
</div>
{% endblock %}